<br>
<br>

<div class="wrapper">
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3 style="text-align:center">COSMA</h3>
                    </div>
                    <div class="card-body">
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <button (click) = "Onclick('New')" class="btn btn-warning" type="button"><strong>New Inquery</strong></button><br>
                            <button class="btn btn-warning" type="button"><strong>Submitted</strong></button><br>
                            <button class="btn btn-warning" type="button"><strong>Pending</strong></button><br>
                            <button class="btn btn-warning" type="button"><strong>Opportunities</strong></button><br>
                            <button class="btn btn-warning" type="button"><strong>Status</strong></button><br>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h3 style="text-align:center" [routerLink]='["/"]'>Logout</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


